In [5]:
import pandas as pd
from datetime import datetime

In [3]:
#Reading in data

azn = pd.read_csv('data/AZN_1d.csv')

In [4]:
azn.head()

         time    open       high        low      close
0  1238506200  17.375  17.870005  17.110000  17.725000
1  1238592600  17.295  17.970000  17.235000  17.949995
2  1238679000  17.875  18.115000  17.699995  17.730005
3  1238765400  17.805  17.870005  17.339995  17.470000
4  1239024600  17.475  17.735000  17.339995  17.560000

In [15]:
#Convert time column from unix timestamp to regular time

azn['time'] = [datetime.utcfromtimestamp(time).strftime('%Y-%m-%d %H:%M:%S') for time in azn['time']]

In [18]:
azn.head()

                  time    open       high        low      close
0  2009-03-31 13:30:00  17.375  17.870005  17.110000  17.725000
1  2009-04-01 13:30:00  17.295  17.970000  17.235000  17.949995
2  2009-04-02 13:30:00  17.875  18.115000  17.699995  17.730005
3  2009-04-03 13:30:00  17.805  17.870005  17.339995  17.470000
4  2009-04-06 13:30:00  17.475  17.735000  17.339995  17.560000

In [20]:
#Get rid of 13:30:00 since it's the same in every ro

azn['time'] = [time.split(' ')[0] for time in azn['time']]

In [23]:
#Rename time to date

azn.rename(columns = {'time' : 'date'}, inplace = True)

In [24]:
azn.head()

         date    open       high        low      close
0  2009-03-31  17.375  17.870005  17.110000  17.725000
1  2009-04-01  17.295  17.970000  17.235000  17.949995
2  2009-04-02  17.875  18.115000  17.699995  17.730005
3  2009-04-03  17.805  17.870005  17.339995  17.470000
4  2009-04-06  17.475  17.735000  17.339995  17.560000

In [26]:
#Export data

azn.to_csv('data/AZN_1D_CLEANED.csv')